<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a routerLink="" class="navbar-brand">Rotas Angular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active">Login</a>
          <a routerLink="/cursos" class="nav-item nav-link" routerLinkActive="active" [queryParams]="{pagina:1}">Cursos</a>
          <a [routerLink]="['curso', idCurso.value]" class="nav-item nav-link" routerLinkActive="active">Curso com id</a>
          </div>
      </div>
  </nav>
</div>

<div class="container">
  <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Digite o ID do curso</span>
    </div>
    <input #idCurso type="text" class="form-control" (keyup)="0">
  </div>
  <router-outlet></router-outlet>
</div>
